#root {
  background-color: lightblue;
  width: fit-content;
}

.planner-item{
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
.planner-item:hover{
  cursor: pointer;
  opacity: 0.7;
}
input{
  background-color: beige;
  padding: 2px;
}
input:hover{
  background-color: lightcyan;
}
